#reveal {
	background-color: #F1F1F1;
	padding: 0;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	width: 680px;
	height: 470px;
}
#reveal {
	border: 1px solid #cccccc;
	box-shadow: 3px 3px 7px #ccc;
}
#headerColor {
	background-color: #069;
	padding: 10px 20px 5px 20px;
	background-image: url(../images/Theme1_Header.png);
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;
}
#content_bg {
	padding: 10px 10px 10px 10px;
}
#intInstructions {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #00b2d9;
	padding-bottom: 10px;
	font-style: italic;
}
#intTitle {
	padding-bottom: 5px;
	font-size: 20px;
	color: #FFFFFF;
}
/*top arc*/
#reveal, #headerColor, #reveal {
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
}
