

.timelineNode {
	margin-top:15px; 
	border:2px solid white;	
	border-radius: 50%;
	width: 15px;
 	height: 15px; 
	background-color: #ffffff;
	/*
	background-image: linear-gradient(bottom, rgb(243,229,236) 12%, rgb(243,229,236) 56%, rgb(255,255,255) 78%);
	background-image: -o-linear-gradient(bottom, rgb(243,229,236) 12%, rgb(243,229,236) 56%, rgb(255,255,255) 78%);
	background-image: -moz-linear-gradient(bottom, rgb(243,229,236) 12%, rgb(243,229,236) 56%, rgb(255,255,255) 78%);
	background-image: -webkit-linear-gradient(bottom, rgb(243,229,236) 12%, rgb(243,229,236) 56%, rgb(255,255,255) 78%);
	background-image: -ms-linear-gradient(bottom, rgb(243,229,236) 12%, rgb(243,229,236) 56%, rgb(255,255,255) 78%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, rgb(243,229,236)),
		color-stop(0.56, rgb(243,229,236)),
		color-stop(0.78, rgb(255,255,255))
	);
	*/
}

.popup {
	background-color: blue;
	padding: 10px;
	width: 100px;
	height: 30px;
	color: white;
	font-size: 12px;
	
	
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yMiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.22) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.22))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.22) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.22) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.22) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.22) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#38000000',GradientType=0 ); /* IE6-8 */

	
	
}

#popups {
	position:absolute;
	top: 312px;
	left: 55px;
}



.active
{
    background-color: #40c3c3;
}
.unactive
{
    background-color: #FFFFFF;
}

#tabs_content_container
{
    padding: 20px 30px;
	background-color: #FFFFFF;
}

.tab_content {
}

#tabs_container { 
	height:40px;
	display: block;
}

#canvas {
}

#canvas-wrap { position:relative; width:600px; height:50px;  }
#canvas-wrap canvas { position:absolute; top:0; left:0; z-index:0 }




